<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Yazılar</title>
  <link rel="stylesheet" href="css/adminstyle.css" />
</head>
<body>
  <div class="admin-panel">
    <div class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
        <li><a href="admin">Ana Sayfa</a></li>
        <li><a href="add-post">Post ekle</a></li>
        <li><a href="posts">Postlar</a></li>
        <li><a href="category">Kategoriler</a></li>
        <li><a href="#">Ayarlar</a></li>
      </ul>
    </div>
        </select>
      <ul class="post-list">
        <h3>Mevcut Yazılar</h3>
<form action="/filter" method="GET">
  <label for="author">Yazara Göre:</label>
  <select id="author" name="author">
    {{#each distinctAuthors}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <label for="startDate">Başlangıç Tarihi:</label>
  <input type="date" id="startDate" name="startDate">

  <label for="endDate">Bitiş Tarihi:</label>
  <input type="date" id="endDate" name="endDate">

  <button type="submit">Filtrele</button>
</form>

 {{#each authorPosts}}
        <li>
          <strong>{{title}}</strong>
          <p>{{content}}</p> <br>
          <b>Yazar: {{author}}</b>
          <br> <br> 
          <a href="/posts/edit/{{_id}}">Düzenle</a>
          <a href="/posts/delete/{{_id}}">Sil</a>
        </li>
        {{/each}}
      </ul>

    </div>
  </div>

 
</body>
</html>
    
    
    
    